@font-face {
    font-family: text;
    src: url(../fonts/Barlow-SemiBold.ttf);
}

@font-face {
    font-family: header;
    src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: pp;
    src: url(../fonts/Barlow-ExtraLight.ttf);
}

@font-face {
    font-family: 'icomoon';
    src: url('../icon/fonts/icomoon.eot?4xwzp5');
    src: url('../icon/fonts/icomoon.eot?4xwzp5#iefix') format('embedded-opentype'),
        url('../icon/fonts/icomoon.ttf?4xwzp5') format('truetype'),
        url('../icon/fonts/icomoon.woff?4xwzp5') format('woff'),
        url('../icon/fonts/icomoon.svg?4xwzp5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-light-bulb:before {
    content: "\e907";
}

.icon-price-tag:before {
    content: "\e905";
}

.icon-tag:before {
    content: "\e902";
}

.icon-eye:before {
    content: "\e903";
}

.icon-bulb:before {
    content: "\e908";
}

.icon-calendar:before {
    content: "\e904";
}

.icon-date:before {
    content: "\e904";
}

.icon-schedule:before {
    content: "\e904";
}

.icon-home:before {
    content: "\e906";
}

.icon-search:before {
    content: "\e986";
}

.icon-facebook2:before {
    content: "\ea91";
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: header;
    font-weight: normal;
}

body {
    font-family: text;
    color: white;
}

body::selection {
    background-color: #41bdda;
    color: white;
}

/* this title use for every title*/
.title-s {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: relative;
    padding-bottom: 50px;
    text-align: center;
    margin: 50px 0;
    color: #4a4a4a;
    margin-top: 100px;
}

.title-s h2 {
    font-size: 50px;
    text-transform: capitalize;
}

.title-s p {
    font-size: 25px;
}

.title-s::before {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #45c0d6;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.title-s::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #45c0d6;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid white;
}

/* this is for white title*/
.color-white {
    color: white;
}

.color-white::after {
    border-color: #41bdda;
    background-color: white;
}

.color-white::before {
    background-color: white;
}


/* THIS BUTTON FOR EVERY BUTTONS*/
.learn-more {
    padding: 15px 30px;
    background-color: white;
    text-decoration: none;
    color: white;
    background-color: #45c0d6;
    border-radius: 2px;
    font-size: 14px;
}

/* CONTAINER*/
.container {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 16px;
}

/*HEADER*/

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 280px;
}

.logo img {
    width: 100%;
}

.menu {
    display: flex;
}

.menu li {
    display: flex;
    padding: 0 13px;
}

.menu a {
    text-decoration: none;
    display: flex;
    font-size: 13px;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

.menu a:hover {
    color: lightgray;
}

/*HERO*/
.hero {
    width: 100%;
    height: 100vh;
    background: url(../photo/hero-pattern.png), linear-gradient(to bottom right, #5a72fc, #fb4d4d) no-repeat center top;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.contant-hero {
    transform: translate(0, -30px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contant-hero h1::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.contant-hero>h1 {
    font-size: 5vw;
    padding-bottom: 20px;
    text-transform: capitalize;
    position: relative;
}

.contant-hero>span {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 30px;
}

/*HAMBURGER MENU*/
.hamburger {
    width: 33px;
    height: 23px;
    align-self: center;
    justify-content: space-between;
    display: none;
    flex-direction: column;
    align-self: center;
}

.hamburger>span {
    width: 100%;
    height: 3px;
    background-color: white;
}

/*HELP YOU*/
.help-you {
    width: 100%;
    color: #4a4a4a;
    text-align: center;
}

.items {
    width: 100%;
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
}

.item {
    width: 32%;
    padding: 70px 40px 50px 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
    background-color: white;
    z-index: 3;
}

.item h3,
.learn-more {
    text-transform: uppercase;
}

.item>p {
    text-align: center;
    margin: 20px 0 60px 0;
    line-height: 23px;
    color: #b0b0b0;
    font-size: 15px;
    font-family: pp;
}

.items>:nth-child(2) {
    transform: scale(1.1);
    color: white;
    background: linear-gradient(to bottom right, #7bb0e7, #4ecac2);
    z-index: 4;
}

.items>:nth-child(2)>p {
    color: #4a4a4a;
}

.items>:nth-child(2) a {
    outline: 2px solid white;
}

.primary {
    color: #45c0d6;
}

/*SERVICES*/
.services {
    width: 100%;
    min-height: 700px;
    background-color: #00ccc4;
    background: url(../photo/hero-pattern.png), linear-gradient(to top right, #00ccc4, #69b2e8), no-repeat center top;
    background-size: cover;
    transform: translate(0, -30px);
    padding: 150px 0;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    width: 33.333%;
    height: 200px;
    display: flex;
    text-align: center;
    margin-bottom: 50px;
}

/*CARD*/

.holder {
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.card {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: relative;
}

.holder:hover .card {
    transform: rotateY(-180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.front {
    transform: translatez(-40px);
    backface-visibility: hidden;
}

.front>span {
    font-size: 40px;
    margin-bottom: 10px;
}

.front>p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.78);
    line-height: 16px;
    font-weight: bolder;
}

.back {
    transform: translatez(40px) rotatey(180deg);
    backface-visibility: hidden;
    color: rgba(255, 255, 255, 0.78);
}

/*OUR-TEAM*/
.our-team {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 160px;
    padding: 100px 0 150px 0;
}

.our-team>:nth-child(1),
.our-team> :nth-child(2) {
    width: 49%;
    margin-bottom: 60px;
}

.member {
    width: 24%;
    color: #4a4a4a;
}

figure {
    width: 100%;
    position: relative;
}

figure>img {
    width: 100%;
}

figcaption>h4 {
    font-weight: bold;
    font-size: 25px;
    margin: 7px 0 15px 0;
}

figcaption p {
    color: #b0b0b0;
}

.shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid rgba(0, 0, 0, 0.3);
    opacity: 0;
    color: black;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.social {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.social>span {
    width: 120px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 160%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    transition-timing-function: linear;
    opacity: 0;
    color: #f6f2f7;
    border-radius: 3px;
    font-size: 1vw;
    text-align: center;
}

.shadow>a {
    color: #4a4a4a;
    text-decoration: none;
}

.social>span::after {
    content: "";
    border: 5px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

figure:hover .shadow {
    opacity: 1;

}

i:hover+span {
    bottom: 135%;
    opacity: 1;
}

i:hover {
    color: #41bdda;
}

/*our-philosophy*/
.our-philosophy {
    width: 100%;
    background: linear-gradient(to bottom right, #3edbac, #16a6e8);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.phi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 120px 50px;
}


.contant-philosophy {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contant-philosophy>h2 {
    font-size: 55px;
}

.contant-philosophy>p {
    font-size: 19px;
    line-height: 35px;
}

.contant-philosophy>a {
    align-self: flex-start;
    background-color: transparent;
    border: 2px solid white;
}

.photo-philosophy {
    width: 35%;
}

.photo-philosophy>img {
    width: 100%;
}

/*FEEDBACK*/
.feedback {
    width: 100%;
    color: #4a4a4a;
}

.contant-feedback {
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contant-feedback>p {
    font-size: 18px;
    line-height: 1.7em;
    color: #bebebe;
    text-align: center;
}

.user {
    width: 70%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
}

.user img {
    width: 30%;
    height: 100%;
    border-radius: 50%;
    margin-top: 15px;
}

figcaption span {
    display: block;
}

figcaption :nth-child(1) {
    font-size: 20px;
    margin-bottom: 5px;
}

figcaption :nth-child(2) {
    color: #bebebe;
}

/*IN ACTION*/
.in-action {
    width: 100%;
    background-color: #89bb30;
    background-repeat: no-repeat;
    background-image: url(../photo/hero-pattern.png), linear-gradient(to bottom right, #89bb30, #4dc4fb);
    background-position: 50% 50%;
    background-size: cover;
    padding: 100px 0 170px 0;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.in-action figure {
    width: 56%;
}

.in-action figure img {
    width: 100%;
}

.contact-action {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.contact-action h2 {
    font-size: 55px;
}

.contact-action p {
    font-size: 22px;
    line-height: 1.5em;
}

.contact-action a {
    align-self: flex-start;
    background-color: transparent;
    border: 3px solid white;
}

/*PARTNERS*/
.partners {
    width: 100%;
    padding-bottom: 15px;
}

.partners figure {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 120px !important;
}

.partners figure img {
    width: 20%;
    border: 1px solid #e2e2e2;
    object-fit: contain;
}

/*Latest-Events*/
.Latest-Events {
    width: 100%;
    min-height: 300px;
    padding-top: 100px;
    background-color: #f7f7f7;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 10%);
}

.t-p::after {
    border-color: #f7f7f7;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    color: white;
}

.gallery figure {
    width: 25%;
    height: 420px;
    position: relative;
}

.gallery figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.4s;
}

.gallery figure figcaption {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.4s;
}

.gallery figure figcaption h3 {
    font-size: 30px;
}

.gallery figure figcaption p {
    color: white;
}

.gallery figure:hover>img {
    filter: grayscale(0);
}

.gallery figure:hover>figcaption {
    opacity: 1;
}

/*EVENTS*/
.event {
    width: 100%;
    background-color: #1cc5e7;
    background-repeat: no-repeat;
    background-image: url(../photo/hero-pattern.png), linear-gradient(to bottom right, #1cc5e7, #e3ee22);
    background-position: 50% 0%;
    padding: 130px 0;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.container-event {
    width: 50%;
    margin: 0 auto;
}

.event .t-e {
    margin-top: 0 !important;
}

.event .t-e::after {
    border-color: #66d49e;
}

.container-event>p {
    margin-top: 60px;
    text-align: center;
    font-size: 21px;
    line-height: 1.8em;
}

/*GET IN TOUCH*/
.get-in-touch {
    width: 90%;
    margin: 0 auto;
}

.contact-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
}

.contact-touch {
    background: url(../photo/backdrop-bg.png) no-repeat center center;
    background-size: contain;
    width: 45%;
    height: 670px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    color: #dedede;
    line-height: 1.7em;
}

.contact-touch p {
    font-size: 15px;
}

.contact-touch a {
    display: block;
    color: #4dc4fb;
    text-decoration: none;
}

.contact-touch h3 {
    margin-top: 13px;
    color: #4dc4fb;
}

.contact-form form {
    width: 40%;
    margin: 0 auto;
}

.contact-form form input,
.contact-form form textarea {
    width: 75%;
    background-color: #f6f2f7;
    margin-bottom: 20px;
    border: none;
    outline: none;
    padding: 20px;
    text-transform: uppercase;
    display: block;
}

.contact-form form textarea::placeholder,
.contact-form form input::placeholder {
    color: #bebebe;
}

.contact-form form input {
    height: 50px;
}

.contact-form form textarea {
    height: 200px;
}

.contact-form form button {
    width: 120px;
    text-transform: uppercase;
    height: 50px;
    background-color: #4dc4fb;
    border: none;
    color: white;
    border-radius: 4px;
    display: block;
}

/*FOOTER*/
footer {
    width: 100%;
    padding: 20px 0;
    background-color: #f5f5f5;
    color: #787878;
    font-size: 13px;
}

.container-f {
    width: 90%;
    margin: 0 auto;
}

/*RESPONSIVE*/
@media(max-width:840px) {
    header {
        background-color: #eb4f61;
        padding: 0 7%;
    }

    .logo {
        width: 170px;
    }

    .hamburger {
        display: flex;
    }

    .menu {
        display: none;
    }

    .hero {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }

    .item {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .list-item {
        width: 100%;
    }

    .services {
        clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
        border-bottom: 2px solid #f6f2f7;
    }

    .member {
        width: 100% !important;
        margin-bottom: 50px !important;
    }

    .shadow {
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
        border: 1px solid #dedede;
        border-top: none;
        background-color: #f7f7f7;
    }

    .social>span {
        font-size: 2vw;
    }

    .contant-philosophy {
        width: 100% !important;
    }

    .our-philosophy {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }

    .photo-philosophy {
        width: 100% !important;
    }

    .user {
        display: block;
        width: 90%;
    }

    .user img {
        width: 50%;
    }

    figcaption {
        text-align: center;
        margin-top: 10px;
    }

    .in-action {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }

    .in-action figure,
    .contact-action {
        width: 90%;
        margin-bottom: 50px !important;
        margin: 0 auto;
    }

    .partners figure {
        width: 90%;
        margin: 0 auto;
    }

    .partners figure img {
        width: 49%;
        margin-bottom: 10px;
    }

    .partners figure :nth-child(1),
    .partners figure :nth-child(6) {
        width: 100%;
    }

    .gallery figure {
        width: 100%;
    }

    .Latest-Events {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 1%);
    }

    .gallery figure {
        height: 350px;
    }

    .gallery figure figcaption {
        top: -10px;
        left: 0;
    }

    .event {
        clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
    }

    .container-event {
        width: 90%;
        margin: 0 auto;
    }

    .contact-touch {
        width: 100%;
        height: 450px;
        margin-bottom: 100px;
    }

    .contact-form form {
        width: 80%;
        margin-bottom: 10px;
    }

    footer {
        font-size: 10px;
    }
}

@media (max-width:455px) {
    .contact-touch {
        font-size: 11px !important;
        line-height: 1.4em;
    }

    .contact-touch p {
        font-size: 12px;
    }
}